*{
margin: 0;
padding: 0;
}
body{
    background: #222;
    color: white;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
text-align: center;
text-transform: uppercase;
margin:10px 0 ;
}
input{
width: 100%;
height: 30px;
outline: none;
border: none;
background: #111;
margin: 4px 0;
border-radius:4px ;
padding: 4px;
color: white;
}
input:focus{
background: #000;
transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
background: #a00d02;
padding: 5px 2px;
border-radius: 4px;
}
#total::before{
content: 'Total:';
}
button{
width: 100%;
height: 30px;
border: none;
cursor: pointer;
background: #310044;
color: white;
border-radius: 20px;
transition: 0.5s;
}
button:hover{
background: #51025f;
letter-spacing: 2px;
}
.btnsearch{
display: flex;
justify-content: space-between;
}
.btnsearch button{
width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin:10px 0 ;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}

#deleteAll{
margin: 20px 0;
}





.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #509AF8;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
  }
  
  .info__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .info__icon path {
    fill: #fff;
  }
  
  .info__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  
  .info__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .info__close path {
    fill: #fff;
  }
.van{
color: #111;
text-decoration: none;
padding-left: 140px;
}
.van:hover{
    color: #fff;
    font-size: large;

}
